{% extends 'base.html' %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<title>chart</title>
{% endblock %}
{% block body %}
<canvas id="Champs" width="30" height=""></canvas>
<script src="points.json"></script>
<script>
    //Chart.scaleService.updateScaleDefaults('linear', {
                //ticks: {
                    //min: 0
                //}
        //});

    let Champschart = new Chart(Champs, {
            type: 'bar',
            data: {
            labels: ['Bardo', 'Tuvieja'],
                datasets: [{
                    label: "Mis Puntos",
                    data: [500, 200],
                    backgroundColor: ['#5DA5DA ', '#FAA43A', '#60BD68',
                        '#B276B2', '#E16851', '#FB8267'],

                    borderWidth: 1,
                    hoverBorderColor: "black",
                    hoverBorderWidth: 2,
                    hoverBackgroundColor: 'rgba(154, 245, 140)',
                    pointHoverRadius: 5
                }],
            },
            options: {
                    title: {
                        display: true,
                            text: "Income Vs Expenses",
                                fontSize: 20,
                    },
                    legend: {
                        position: "right",
                            labels: {
                            fontColor: "gray"
                        },
                        display: true,
                    },

                    elements: {
                        hitRadius: 3,
                    }
            }
        })
</script>
{% endblock %}