{% extends 'base.html' %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<title>chart</title>
{% endblock %}
{% block body %}
<canvas id="champs" width="30" height=""></canvas>
<script src="./static/points.json"></script>
<script>
    //Chart.scaleService.updateScaleDefaults('linear', {
                //ticks: {
                    //min: 0
                //}
        //});
    var chartData{
        labels: [ {% for champ in dataMine %}  
            {{champ.name}} 
            {% endfor %}]
            datasets: [
              {
                label: "points",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                data: [ {% for champ in dataMine %}  
            {{champ.points}} 
            {% endfor %}]
              }
            ]
        }
    // get chart canvas
var ctx = document.getElementById("champs").getContext("2d");
 
 // create the chart using the chart canvas
 var myChart = new Chart(ctx, {
 type: 'bar',
 data: chartData,
 });
    
</script>
{% endblock %}