{% extends 'base.html' %}
{% block head %}

<title>Index</title>
{% endblock %}
{% block body %}
<header>
    <div class="menu">
        <nav>
            <ul class="menu">
                <li><a href="chart.html">Champs</a></li>
                <li><a href="#">Info General</a></li>
                <li><a href="#">Tu cuenta</a></li>
                <li><a href="#">Champs gratis</a></li>
                <li><a href="#">Putas</a></li>
            </ul>
        </nav>
    </div>
</header>

{% endblock %}