{% extends 'base.html' %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<title>Tabla</title>
{% endblock %}
{% block body %}
<table class="table table-striped">
    <thead>
        <tr class="bg-info">
            <th>Id</th>
            <th>Nombre</th>
            <th>Puntos</th>
        </tr>
    </thead>
    <tbody>
        {% for champ in data %}
        <tr>
            <td>
                {{champ.id}}
            </td>
            <td>
                {{champ.name}}
            </td>
            <td>
                {{champ.points}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}